.header {
  display: flex;
  padding: 2rem 10%;
  gap: 3rem;
  color: #ddd6cb;
}

.image {
  position: relative;
  width: 30rem;
  height: 20rem;
}

.image img {
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.headerText {
  padding: 0.5rem 0;
  max-width: 40rem;
}

.headerText h1 {
  margin: 0;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.headerText p {
  font-size: 1.5rem;
  color: #cfa69b;
  font-style: italic;
}

.creator {
  margin-bottom: 2rem;
}

.creator a {
  background: linear-gradient(90deg, #f95723, #ff8a05);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

.creator a:hover {
  text-shadow: 0 0 0.5rem rgba(248, 190, 42, 0.8);
}

.summary {
  font-size: 1.5rem;
}

.main {
  padding: 2rem 10%;
  max-width: 60rem;
}

.instructions {
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: #6e645c;
  color: #13120f;
  border-radius: 8px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  padding: 2rem;
  margin: 2rem auto;
  white-space: pre-wrap;
}

@media (max-width: 1024px) {
  .header {
    padding: 2rem 5%;
  }

  .main {
    padding: 2rem 5%;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .image {
    width: 100%;
    max-width: 30rem;
    height: 15rem;
  }

  .headerText h1 {
    font-size: 2.5rem;
  }

  .headerText p {
    font-size: 1.25rem;
  }
}

.loading {
  text-align: center;
  color: #f7f1ed;
  margin-top: 5rem;
  font-size: 1.5rem;
  animation: flash 1s ease-in-out infinite alternate;
}

@keyframes flash {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
