.news {
  width: 90%;
  max-width: 90rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem;
  margin: 2rem auto;
  list-style: none;
  padding: 0;
}

.news li {
  background: none;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-out;
}

.news li:hover {
  transform: scale(1.05);
}

.news a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.news img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.news span {
  padding: 1rem 0;
  font-size: 1.1rem;
  font-weight: normal;
  text-align: left;
}

.news .title {
  font-weight: normal;
  color: #ddd6cb;
}
