.picker {
  margin-top: 2rem;
}

.picker label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #b3aea5;
  font-weight: bold;
}

.controls {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
}

.preview {
  width: 10rem;
  height: 10rem;
  border: 2px solid #a6adc8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a6adc8;
  position: relative;
}

.preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview p {
  margin: 0;
  padding: 1rem;
}

.input {
  display: none;
}

.button {
  border: 0;
  padding: 0.5rem 1.5rem;
  background-color: #a6adc8;
  border-radius: 2px;
  cursor: pointer;
  font: inherit;
}

.button:hover,
.button:active {
  background-color: #7b8196;
}
