.header {
  margin: 3rem auto;
  width: 90%;
  max-width: 75rem;
  color: #f7f1ed;
}

.header h1 {
  font-size: 3.5rem;
  margin: 0;
  text-transform: uppercase;
  background: linear-gradient(90deg, #d19f6e, #a67c52);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.content {
  font-size: 1.5rem;
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 2.5rem;
  }
  
  .content {
    font-size: 1.25rem;
  }
}
