.meal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: linear-gradient(180deg, #2c1d0f 0%, #1a1005 100%);
  border-radius: 4px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: #ddd6cb;
}

.meal:hover {
  transform: scale(1.02);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
}

.image {
  position: relative;
  height: 15rem;
}

.image img {
  object-fit: cover;
}

.headerText {
  padding: 1rem 1rem 0 1rem;
}

.headerText h2 {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.headerText p {
  margin: 0;
  font-size: 0.75rem;
  color: #cfa69b;
  font-style: italic;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.summary {
  padding: 1rem;
}

.actions {
  padding: 1rem;
  text-align: right;
}

.actions a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #f95723, #ff8a05);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.actions a:hover,
.actions a:active {
  background: linear-gradient(90deg, #fd4715, #f9b241);
  box-shadow: 0 0 0.5rem rgba(248, 190, 42, 0.8);
}
