.posts {
  list-style: none;
  max-width: 60rem;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 2rem;
  justify-items: center;
}
