.loading {
  text-align: center;
  color: #f7f1ed;
  margin-top: 10rem;
  font-size: 1.5rem;
}

.spinner {
  border: 4px solid rgba(166, 124, 82, 0.1);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left-color: #a67c52;
  margin: 2rem auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
