:root {
  font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #1a1614;
  background-image: radial-gradient(circle at 50% 50%, #292420 0%, #1a1614 100%);
  color: #f7f1ed;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
